
.well {
    width: 450%;
    border: solid 2px lightblue;
    background-color :lightcyan;
    content:"";
    z-index:-1;
    -webkit-box-shadow: 0 0 20px lightblue;
    -moz-box-shadow: 0 0 20px lightblue;
    box-shadow: 0 5px 20px lightblue;
}

ul li{
    margin-left: 630px;
    margin-top: -90px;
}
.well-header {
    font-size: 2em;
    font-weight: bold;
    font-family: helvetica Neue;
    color: #1E2749;
    
}

#disabledSelect{
    height: 30px;
}
/*
.form-control {
    height: 30px;
}
*/
.form-group1 {
    padding-bottom: 45px;
    height: 5px;
}

#disabledSelect{
    padding-bottom: 25px;
}

.input-group-addon,.fa> fa-calendar {
    color: #FFE071;
    background: #1E2749;
    border: solid 1px #1E2749;
}

p, label, checkbox {
    font-size: 1em;
    font-weight: bold;
    color: #1E2749;
    
}

.header_p {
    font-size: 1.1em;
}

.btn{
    color: rgba(198, 156, 0, 1);
    background: #1E2749;
    border: solid 1px #1E2749;
    ;
}

.help-block {
    color: #1E2749;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}