.cabecera{
background-color: rgb(0, 247, 255);
position: sticky;
height: 100px;
top: 0px;
opacity: 0.75;
}

.nav{
    text-decoration: none;
    
    display: inline-block;
}
ul{
    list-style: none;
    margin-left: 300px;
}
li{
    
    margin-left: 20px;
    display: inline-block;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.logo{
    margin-bottom: -30px;

}
.im{
    margin-top: 25px;
}
a:hover{
animation: menu 0.5s infinite linear alternate;
}

@keyframes menu{
	0%{
		color: rgb(0, 0, 0);
	}
	100%{
		color: #db2323;
	}
}
.fondo{
    
    width: 1889px;
    height: 1000px;
background-image: url("../imagenes/hospital.jpg");
background-color: red;
}